<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">


    <div class="jumbotron">
      <div class="img-responsive">
        <%= image_tag "add-list.png", :class => "imgtag img-fluid"%>
        <h1>To Do</h1>
        <h3>Lists | Tasks</h3>
      </div>
      <button class="btn btn-primary"><p><%= link_to "Return Home", lists_path %></p></button>
    </div>
    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <%= yield %>
    </div>
  </body>
</html>
